.main-container {
  min-height: 100vh;
}
.header {
  background-image: url(/src/assets/bg-header-desktop.svg);
  background-color: hsl(180, 29%, 50%);
  height: 16vh;
}
.app-content {
  display: flex;
  justify-content: center;
}
